@import "../../style/colors.scss";
@import "../../style/anim.scss";

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  animation: growY-250 0.5s ease-in 1.5s forwards;
}

.overlay {
  position: absolute;
  background-color: $background;
  z-index: 100;
}
