.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-05 {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.fade-in-1 {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.fade-in-heading {
  opacity: 0;
  animation: fadeIn 1s ease-in 1s forwards;
  transition: all 0.5s ease-in-out;
}

.fade-in-button {
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation: fadeIn 0.75s ease-in (1.5s + 0.5s * $i) forwards,
        growY 0.5s ease-in (1.5s + 0.5s * $i) forwards;
    }
  }
}
.fade-in-page {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.fade-out-page {
  animation: fadeOut 1s ease-in forwards;
}

.fade-out-05 {
  animation: fadeOut 0.5s ease-in forwards;
  transition: all 0.5s ease-in-out;
}

.fade-out-1 {
  animation: fadeOut 1s ease-in forwards;
}

.fade-out-down-1 {
  animation: fadeOut 1s ease-in forwards, animStar 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes growX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes growY {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growY-250 {
  0% {
    transform: scaleY(0);
  }
  100% {
    height: 250px;
    transform: scaleY(1);
  }
}

@keyframes shrinkY-250 {
  0% {
    height: 250px;
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
