@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cute+Font&family=Roboto:wght@300;400&family=Titillium+Web:wght@200&display=swap");

.heading {
  font-family: "Titillium Web", sans-serif;
}

.sub-heading,
.button {
  font-family: "Comfortaa", sans-serif;
}

.alt-heading {
  font-family: "Cute Font", sans-serif;
}

.paragraph {
  font-family: "Roboto", sans-serif;
}
