@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cute+Font&family=Roboto:wght@300;400&family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nova+Mono&family=VT323&display=swap");

.heading {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin: 0;
}

.sub-heading,
.button {
  font-family: "Comfortaa", sans-serif;
}

.alt-heading {
  font-family: "Cute Font", sans-serif;
}

.paragraph {
  font-family: "Roboto", sans-serif;
}

.terminal {
  font-family: "VT323", monospace;
}

.alt-terminal {
  font-family: "Major Mono Display", monospace;
}

.sub-terminal {
  font-family: "Nova Mono", monospace;
}

.text-center {
  text-align: center;
}
